body {
    background-color: rgb(17, 17, 17);
    color: rgb(195, 228, 33);
    font-family: 'Press Start 2P', cursive;
}

#terminal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* width: 100%; */
}
#terminal > div {
    margin: 10px;
    text-align: center;
}
#left {
    display: grid;
    font-size: small;
    text-align: center;
    margin: 5px;
}
#left > div {
    margin: 10px;
}

#middle {
    margin: 5px;
}

#midTop {
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-style: solid;
    font-size: xx-large;
}

#midBottom {
    margin: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-style: solid;
    font-size: xx-large;
}

#cursor {
    margin-left: 20px;
    margin-top: 40px;
}

#header {
    text-align: center;
    border-style: solid;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
#header > h3 {
    flex-grow: 4;
}
#header > p {
    margin: auto;
}

#right {
    display: flex;
    flex: 10;
    flex-direction: row;
    margin: 20px;
    align-items: flex-start;
}
#right > div {
    margin: 20px;
}